body {
    background-color: #fcba03 !important;
}

img {
    height: 175px !important;
}

.quantcount:hover {
    background-color: #0d6efd !important;
}

.qhandler:hover {
    background-color: #6c757d !important;
}

.imgtoken {
    width: 80vw;
}